@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.loader {
  border: 16px solid rgb(235, 232, 232);
  border-top: 16px solid #9356dc;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 4s 1s forwards;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  z-index: 99999;
  margin: auto;
}

@keyframes load-entrees {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    z-index: -10;
  }
}
.header {
  background-color: white;
}
.header__location {
  display: flex;
  justify-content: center;
  background-color: rgb(235, 232, 232);
  padding: 15px;
  box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}
.header__location__icon {
  margin-right: 20px;
  margin-left: -40px;
}
.header__logo {
  padding: 30px 0px 20px 0px;
}
.header__logo__image {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.header__main {
  background-color: #f2f2f2;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 20px;
}
.header__main__title {
  margin: 0;
  text-align: center;
  padding: 40px;
  font-size: 25px;
  font-weight: 1000;
}
.header__main__subtitle {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 18px;
  padding-bottom: 30px;
  font-weight: 100;
}
.header__main__button {
  border-radius: 35px;
  padding: 18px;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  border: 0;
  color: white;
  display: flex;
  margin: 0 auto;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.header__main__button:hover {
  opacity: 0.8;
  transition: all 500ms ease-in-out;
}

.booking {
  padding: 20px 20px 20px 30px;
  margin-bottom: 40px;
}
.booking__text {
  font-weight: bold;
}
.booking__title {
  font-size: 25px;
}
.booking__option {
  border-radius: 25px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 30px;
  position: relative;
  cursor: pointer;
}
.booking__icon {
  color: rgb(135, 135, 135);
  font-size: 20px;
}
.booking__icon__purple {
  color: #9356dc;
  font-size: 20px;
}
.booking__options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.booking__number {
  position: absolute;
  background-color: #9356dc;
  border-radius: 50%;
  left: -12px;
}
.booking__number__text {
  padding: 3px 7px 3px 7px;
  color: white;
  font-size: 14px;
}

.bgr {
  background-color: #f4eaff;
}

.main {
  background-color: #f2f2f2;
  width: 100%;
}

.restaurants__title {
  font-size: 25px;
  padding: 40px 0 0 20px;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
}
.restaurants__card {
  position: relative;
  padding: 0 20px 0 20px;
}
.restaurants__card img {
  height: 180px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  width: 100%;
}
.restaurants__card__footer {
  background-color: white;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: space-between;
}
.restaurants__card__footer__text {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.restaurants__subtitle {
  position: absolute;
  top: 6%;
  right: 8%;
  background-color: #99e2d0;
  padding: 7px 25px 7px 25px;
  border: 0;
  font-size: 12px;
  color: #1a4b3f;
}

.last-card {
  margin-bottom: 60px;
}

.card__footer__text__title {
  font-weight: 900;
}
.card__footer__text__title a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.card__footer__text__subtitle {
  font-weight: 50;
}
.card__footer__text__icon {
  font-size: 25px;
  padding: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.card__footer__text__icon:hover {
  background-image: linear-gradient(175deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
  animation: fill 0.8s forwards ease-in-out;
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer {
  background-color: #353535;
  width: 100%;
}
.footer__info {
  padding: 20px 20px 40px 20px;
}
.footer__info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__info__wrapper__icon {
  margin-right: 12px;
  color: white;
  font-size: 12px;
}
.footer__info__wrapper li {
  list-style: none;
}
.footer__info__wrapper a {
  text-decoration: none;
  color: white;
}
.footer__logo {
  width: 100px;
  filter: brightness(100) saturate(0%);
  margin-bottom: 20px;
}

.menu__header__logo {
  display: flex;
  padding: 20px;
}
.menu__header__logo a,
.menu__header__logo a:visited,
.menu__header__logo a:hover,
.menu__header__logo a:active {
  color: black;
}
.menu__header__logo__image {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.menu__header__logo__icon {
  font-size: 20px;
}
.menu__header__image img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  position: relative;
  z-index: 1;
}

.menu__container {
  background-color: #f2f2f2;
  width: 100%;
  padding-bottom: 60px;
  border-radius: 35px 35px 0 0;
  z-index: 5;
  position: relative;
  margin-top: -40px;
}
.menu__container__title {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand", sans-serif;
}
.menu__container__title__icon {
  font-size: 30px;
  padding-top: 22px;
}
.menu__container__cards {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
  animation: load-entrees 2s forwards;
}
.menu__container__cards__title::after {
  content: "";
  display: block;
  width: 40px;
  padding-top: 4px;
  border-bottom: 3px solid #99e2d0;
}
.menu__container__card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}
.menu__container__card__text {
  padding: 12px;
  flex: 1;
}
.menu__container__card__text__title {
  padding: 0 0 10px 0;
}
.menu__container__card__text__subtitle {
  display: flex;
  justify-content: space-between;
}
.menu__container__card:hover .menu__container__card__checkmark {
  transform: translateX(0%);
  width: 50px;
  opacity: 1;
}
.menu__container__card__checkmark {
  background-color: #99e2d0;
  width: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: all 1s ease-in-out;
}
.menu__container__card__checkmark__icon {
  font-size: 25px;
  background: white;
  border-radius: 50%;
  color: #99e2d0;
}
.menu__container__button {
  border-radius: 35px;
  padding: 15px 70px 15px 70px;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  border: 0;
  color: white;
  display: flex;
  margin: 0 auto;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.menu__container__button:hover {
  opacity: 0.8;
  transition: all 500ms ease-in-out;
}

@media screen and (min-width: 481px) {
  .header__logo {
    padding: 20px;
  }
  .header__logo > img {
    margin: 0;
    width: 30%;
  }
  .restaurants__title {
    text-align: center;
  }
  .restaurants__cards {
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .restaurants__card img {
    width: 100%;
    height: 100px;
  }
  .restaurants__card {
    width: 40%;
    padding: 0;
  }
  .restaurants__card__footer__text {
    font-size: 12px;
    padding: 10px;
    white-space: nowrap;
  }
  .restaurants__subtitle {
    right: 8%;
    font-size: 10px;
    padding: 6px 20px 6px 20px;
  }
  .footer_wrapper {
    justify-content: center;
  }
  .booking {
    width: 60%;
    margin: 0 auto;
  }
  .booking__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .header__logo > img {
    width: 20%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .header__main {
    background-color: white;
    width: 50%;
  }
  .header__main__subtitle {
    padding: 40px;
    margin-bottom: 60px;
  }
  .dekstop-section {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }
  .restaurants__title {
    margin-left: 0;
    text-align: center;
    margin-bottom: 40px;
  }
  .restaurants__cards {
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 20px;
    flex-wrap: nowrap;
    margin: 0 auto;
  }
  .restaurants__card img {
    width: 100%;
    height: 100px;
  }
  .restaurants__card {
    flex-basis: 40%;
    padding: 0;
  }
  .restaurants__card__footer__text {
    font-size: 12px;
    padding: 10px;
    white-space: nowrap;
  }
  .restaurants__subtitle {
    right: 8%;
    font-size: 10px;
    padding: 6px 20px 6px 20px;
  }
  .footer__info {
    margin: 0 auto;
    max-width: 1200px;
  }
  .footer_wrapper {
    justify-content: center;
  }
  .booking {
    width: 60%;
    margin: 0 auto;
  }
  .booking__title {
    text-align: center;
    margin-bottom: 40px;
  }
  .menu__container__cards {
    width: 50%;
    margin: 0 auto;
    max-width: 1200px;
  }
  .menu__container__title {
    max-width: 51%;
    margin: 0 auto;
  }
  .menu__header__logo__image {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
